:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('/images/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.home__section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5); /* Add a subtle overlay on background */
}

.content {
  background-color: transparent; /* Semi-transparent white background */
  padding: 2rem;
  border-radius: 10px;
  max-width: var(--max-width);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1.description {
  font-size: 4.5rem;
  font-weight: 700;
  color: #d4a6ff;
  margin-bottom: 1.5rem;
}

.textpar {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.textpar p {
  font-size: 1.325rem;
  line-height: 1.6;
  color: var(--text-dark);
  margin-bottom: 1.5rem;
}

.textpar a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.textpar a:hover {
  background-color: var(--primary-color-dark);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  .content {
    padding: 1.5rem;
  }

  h1.description {
    font-size: 2rem;
  }

  .textpar p {
    font-size: 1rem;
  }

  .textpar a {
    font-size: 1rem;
    padding: 10px 25px;
  }
}

/* Styles for the image */
.image-container {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-pic {
  width: 330px; /* Pagadjust ng size*/
  height: 330px;
  border-radius: 50%; /* For circullar image */
  object-fit: cover; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for aesthetics */
  transition: transform 0.3s ease;
}

.profile-pic:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

@media (max-width: 768px) {
  .profile-pic {
      width: 120px;
      height: 120px;
  }
}

